*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0,37,227);
    background: radial-gradient(circle, rgba(0,37,227,1) 30%, rgba(0,0,0,1) 100%);
    height: 100vh;
}

.clock-app {}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clock-box {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 32px;
    border-radius: 10px;

}

.hour {}

.minutes {}

.seconds {}